body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  display: flex;
}

#root {
  display: flex;
  flex-grow: 1;
}

.chat-input {
  display: flex;
  flex-grow: 1;
}

.chat-input__content {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.chat-input__content__input {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-message {
  display: flex;
}

.chat-message__content__text {
  white-space: pre-wrap;
  margin: 0;
}