body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  display: flex;
}

#root {
  display: flex;
  flex-grow: 1;
}

.chat-message__avatar img {
  padding: 1em 0;
}

.chat-input__content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 1em;
}

.chat-input__content__input {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-message {
  display: flex;
  gap: 1em;
  max-width: 600px;
  flex-grow: 1;
}

.chat-message-wrapper {
  display: flex;
  justify-content: center;
}
.chat-message-wrapper--bot {
  border-bottom: 1px solid;
  border-top: 1px solid;
  background-color: rgba(247,247,247);
  border-color: rgba(0,0,0,0.1);
}

.chat-message__content__text {
  white-space: pre-wrap;
  margin: 0;
}

.chat-input-container {
  display: flex;
  justify-content: center;
}

.chat-input {
  display: flex;
  flex-grow: 1;
  gap: 1em;
  max-width: 600px;
}

.chat-input__avatar img {
  margin: 1em 0;
}

.lead-copy-container {
  display: flex;
  justify-content: center;
}

.lead-copy {
  max-width: 600px;
  flex-grow: 1;
}

.header-container {
  display: flex;
  justify-content: center;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.header {
  max-width: 600px;
  flex-grow: 1;
  display: flex;
  color: grey;
  gap: 1em;
}

.header-separator {
  color: lightgray;
}

.header-item {
}

.header a {
  color: black;
  text-decoration: none;
}